<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="apkMapper">

  <!-- 최신 APK SELECT -->
  <select id="checkApk_V">
    SELECT MAX(APK_V) AS APK_V FROM APK_VERSION
  </select>

  <!-- APK info insert -->
  <insert id="insertApk">
   INSERT INTO APK_VERSION VALUES ( #{APK_V} , SYSDATE , #{FILE_PATH} )
  </insert>
  
</mapper>