<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ucScanMapper">

<resultMap id = "ucScanMapper" type = "hashmap"></resultMap>

<select id="getValues" statementType="CALLABLE">

  <![CDATA[
    { call PBS_PG_PROD.SAVE_PROD(
        #{PI_COMP_CD}
      , #{PI_PLANT_CD}
      , #{PI_WC_CD}
      , #{PI_BAR_CD}
      , #{PI_PROD_SAP_TG_YN}
      , #{PI_USER_ID}
      , #{PI_LANG}
      , ?
      )
    }
    ]]> 
  </select>


  <select id = "getBarCd">
  <![CDATA[
      SELECT NVL(BAR_CD, ' ') AS BAR_CD, NVL(BAR_PART_NO, ' ') AS BAR_PART_NO, NVL(QTY, 0) AS QTY 
      FROM CIS_TAG  
      WHERE PROD_SAP_TG_YN != 'Y'
      ORDER BY PRT_DATE DESC
  ]]>
  </select>

</mapper>