<% layout('layout') -%>

<style>
    img{
        border-radius: 40px;
        margin-top: 100px;
    }
</style>
<script>
    $(function(){
        $(".fileInput").change(function(){
            
            $("#ex_file_result").text( $(".fileInput").val() )
        });
    });
    function uploadFile(){
            
        var file = $("#FILE_TAG").val();
        if(   file.indexOf('.apk') == -1  ){
            alert(".apk 파일을 업로드 하여 주세요");
            return false;
        };

        var frm = document.FILE_FORM;
		if (!gfnValidate(frm)){
			return;
        };
        
        var url = "/uploadApk";
        var formId = "FILE_FORM";
        var sucessFunc = function(data) {
            if( data =="SUC"){
                alert("업로드 하였습니다.");
                $("#FILE_TAG").val("");
                location.href="/"
            }else{

            }
		};
        ajaxfileUpload(url , formId ,  sucessFunc);


    };
</script>
<div id="content">
    <div id="gridTable2" class="item W40p H40p">
        <form id="FILE_FORM" name="FILE_FORM"  action="/uploadApk" method="POST" enctype="multipart/form-data" >
            <table class="table01 H100p W100p MgT200" >
                <thead>
                    <tr>
                        <th colspan="2">현재 APK 버전 : <%=version%>  ===>  다음 APK 버전 : <%=version+1%></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>
                            <label class="ex_file" for="FILE_TAG">파일 선택</label>
                        </th>
                        <th>
                            <label id="ex_file_result" for="FILE_TAG"></label>
                            <input type="file" id="FILE_TAG" name="FILE_TAG" class="fileInput checkNull" title="APK 파일">
                        </th>
                        
                    </tr>
                    <tr>
                        <th colspan="2"><a href="" class="btn_1" onclick="uploadFile();return false;">업로드</a></th>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
    


</div>